################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AvnetStarterKitReferenceDesign/.vs
/AvnetStarterKitReferenceDesign/out
/.vs/AvnetStarterKitReferenceDesign/v15
/AvnetStarterKitReferenceDesign/AvnetStarterKitReferenceDesign.vcxproj.user
